body {
    cursor: wait;
    filter: brightness(69%);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9, 122, 242);
    text-align: center;
}
h3 {
    margin-top: 25px;
}
.asd {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.copy {
    text-align: center;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-color: gray;
    background-color: black;
    font-style: italic;
}
.h1about {
    font-style: italic;
    color: blue;
    background-color: gray;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    background-size: 500px;
    justify-content: center;
    align-items: center;  
}
.class1 {
    background-color: rgb(5, 196, 196);
    color: rgb(63, 63, 63);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 5px;
    width: 20%;
    margin-top: 34px;
    margin-left: 50px;
    margin-bottom: 34px;
}
.border1 {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
}
.border2 {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(40, 7, 255);
}
.class2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
    background-color: gray;
    color: white;
    text-align: center;
    text-decoration: double;
}
.class3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: double;
}
.book-text {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.class4 {
    /*text-align: center;*/
    align-items: center;
    position: relative;
    
}
.imgc {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 5%;
}
.pclass {
    text-align: center;
}
/*-------GRAY-------------*/
.h1gray {
    text-align: center;
    color: brown;
    box-sizing: border-box;
    background-color: beige;
    /*margin-left: 800px;
    margin-right: 800px;*/
    margin-right: auto;
    margin-left: auto;
}
.bkg1 {
    background-color: rgb(21, 61, 224)
}
.gray-bkg {
    background-color: gray;
}
.pgray {
    text-align: center;
    color: brown;
    box-sizing: border-box;
    background-color: beige;
    margin-right: auto;
    margin-left: auto;
}
/* --------Avatar--------*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
    width: 15%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.avatar {
    width: 50%;
    margin: 15px;
    margin-left: 25%;
}
.container1 {
    padding: 2px 16px;
    text-align: center;
}
.img {
    border-radius: 5px 5px 0 0;
}
/*-------------- Avatar Gray --------------- */
.cardg {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
    width: 15%;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
.cardg:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.cardbkg {
    background-color: beige;
}
/*-------------- Toggle -------------------- */


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}